@font-face {
    font-family: defaultFont;
    src: url(/asset/font/Fira_Code.ttf)
}

html, body {
    font-family: defaultFont;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

h2, li, a {
    text-transform: capitalize;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: #FFFFFF;
}

/* Header */
.header {
    padding: 10px;
}

.header-title {
    font-size: 38px;
    margin: 0 0 10px 0;
}

.header-menu-item {
    margin-right: 10px;
}

/* Main */
.main-content {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 20px;
    padding: 10px;
}

.post-search-input {
    width: calc(100% - 10px);
    height: 30px;
    padding-left: 5px;
    outline: none;
}

.post-article-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    height: auto;
    gap: 10px;
    padding: 0;
}

.post-article-item {
    text-decoration: none;
    list-style-type: none;
}

.article-item-link {
    font-size: 16px;
    font-weight: bold;
}

.article-item-preview {
    margin: 0;
    font-size: 14px;
}

.sidebar-related-list {
    list-style: decimal;
    padding: 0;
    margin: 0;
}

.sidebar-related-title {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0;
}

.sidebar-related-item {
    font-size: 14px;
    margin: 0 0 5px 25px;
}

.sidebar-other-title {
    font-size: 18px;
    margin: 20px 0 10px 0;
    padding: 0;
}

.sidebar-other-item {
    font-size: 14px;
}

/* Footer */
.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 10px;
    padding: 10px;
}

.footer-event-title,
.footer-contact-title,
.footer-referensi-title {
    font-size: 18px;    
    margin: 0;
}

.footer-event-description {
    font-size: 14px;
    margin: 18px 0 0 0;
}

.footer-event-link,
.footer-contact-item,
.footer-referensi-item,
.footer-referensi-link {
    font-size: 14px;
}

.footer-contact-list,
.footer-referensi-list {
    list-style: none;
    padding: 0;
}

.footer-copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}

.footer-back-to-top {
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    position: fixed;
    right: 20px;
    bottom: 20px;
}


@media screen and (max-width: 1200px) {
    .header {
        text-align: center;
    }

    .main-content {
        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }

    .post-article-list {
        grid-template-columns: repeat(3, auto);
    }

    .main-sidebar {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar-other-title {
        margin: 0 0 10px 0;
    }

}

@media screen and (max-width: 768px) {
    .header-title {
        font-size: 32px;
    }
    
    .post-article-list {
        grid-template-columns: repeat(2, auto);
    }

    .main-sidebar {
        grid-template-columns: repeat(2, 50%);
    }

    .footer-content {
        grid-template-columns: repeat(2, 50%);
    }

}

@media screen and (max-width: 320px) {
    .post-article-list {
        grid-template-columns: repeat(1, auto);
    }

    .main-sidebar {
        grid-template-columns: repeat(1, auto);
        min-width: 0;
    }

    .sidebar-other {
        margin: 20px 0 10px 0;
    }

    .footer-content {
        grid-template-columns: repeat(1, auto);
    }
}