.content_post_title {
    font-size: 18px;
}
.content_post_date {
    font-size: 12px;
}
.content_post_paragraf {
    font-size: 14px;
    text-align: justify;
}
.content_post_sub_title_1 {
    font-size: 16px;
}
.content_post_sub_title_2 {
    font-size: 14px;
}
.content_post_code {
    font-size: 14px;
    margin-left: -185px;
}

.listApp {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    font-size: 18px;
}

.listApp a {
    background-color: aqua;
    padding: 10px;
}

.listApp a:hover {
    color: black;
}