@font-face {
    font-family: defaultFont;
    src: url(/asset/font/AncizarSerif.ttf)
}

html, body {
    font-family: defaultFont;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

h1, h2, a {
    text-transform: capitalize;
}

/* Header */
.header {
    padding: 10px;
}

.headerContentTitle {
    font-size: 32px;
    margin: 0 0 10px 0;
}

.headerContentMenuItem {
    font-size: 16px;
    text-transform: capitalize;
    margin-right: 10px;
}

.headerEventImages {
    width: 100%;
    height: auto;
}

.headerEventItem {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
}

/* Main */
.main_content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.main_post_content {
    width: 100%;
}

.input_search {
    width: calc(100% - 7px);
    height: 30px;
    outline: none;
}

.content_list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    height: auto;
    gap: 10px;
    padding: 0;
}

.content_list_items {
    text-decoration: none;
    list-style-type: none;
}

.link_list_items {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

.images_list_items {
    margin-top: 5px;
    width: 100%;
}

.preview_list_items {
    margin-top: 0;
    font-size: 14px;
    /* text-align: justify; */
}

.main_sidebar_content {
    width: 420px;
    min-width: 400px;
    padding: 0 10px;
}

.populer_list_title {
    font-size: 16px;
    margin: 2px 0 10px 0;
    padding: 0;
}

.content_populer_list {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.populer_list_items {
    margin: 5px 0;
    text-transform: capitalize;
}

.populer_list_items strong {
    font-size: 16px;
    color: black;
}

.content_label_title {
    font-size: 16px;
    margin: 20px 0 10px 0;
    padding: 0;
}

.content_label_items {
    font-size: 16px;
    text-transform: capitalize;
}

/* Footer */
.footer_content {
    margin-top: 20px;
}

.footer_content {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 5px;
}

.footer_about {
    padding: 10px 10px 0 0;
    margin-bottom: 10px;
}

.footer_about_title {
    font-size: 16px;    
    margin: 0;
}

.footer_about_description {
    font-size: 14px;
}

.footer_contact {
    padding: 10px 10px 0 0;
    margin-bottom: 10px;
}

.footer_contact_title {
    font-size: 16px;    
    margin: 0;
}

.footer_contact_list {
    list-style: none;
    padding: 0;
}

.contact_list {
    font-size: 14px;
}

.footer_others {
    padding: 10px 10px 0 0;
    margin-bottom: 10px;
}

.footer_others_title {
    font-size: 16px;    
    margin: 0;
}

.footer_others_list {
    list-style: none;
    padding: 0;
}

.others_list_items {
    font-size: 14px;
}

.footer_copyright {
    font-size: 14px;
    text-align: center;
}

.footer_back_to_top {
    background-color: white;
    text-transform: capitalize;
    position: fixed;
    right: 20px;
    bottom: 20px;
}


@media screen and (max-width: 1200px) {
    .header {
        text-align: center;
    }

    .main_content {
        flex-direction: column;
    }

    .content_list {
        grid-template-columns: repeat(3, auto);
    }

    .main_sidebar_content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding-left: 0;
        padding-right: 0;
    }

    .populer_list_title {
        margin: 20px 0 10px 0;
    }

}

@media screen and (max-width: 768px) {
    .content_list {
        grid-template-columns: repeat(2, auto);
    }

    .footer_content {
        grid-template-columns: repeat(2, 50%);
    }

}

@media screen and (max-width: 480px) {
    .main_sidebar_content {
        grid-template-columns: repeat(1, auto);
        min-width: 0;
    }

    .content_label_title {
        margin: 20px 0 10px 0;
    }

    .footer_content {
        grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width: 320px) {
    .content_list {
        grid-template-columns: repeat(1, auto);
    }
}
