@font-face {
    font-family: defaultFont;
    src: url(/asset/font/Inconsolata.ttf)
}

html, body {
    font-family: defaultFont;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

h1, h2, a, li {
    text-transform: capitalize;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: #FFFFFF;
}

/* Header */
.header {
    padding: 10px;
}

.headerContentTitle {
    font-size: 32px;
    margin: 0 0 10px 0;
}

.headerContentMenuItem {
    font-size: 16px;
    margin-right: 10px;
}

/* Main */
.mainContent {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 20px;
    padding: 10px;
}

.postSearchInput {
    width: calc(100% - 10px);
    height: 30px;
    padding-left: 5px;
    outline: none;
}

.mainContentPostArticleList {
    display: grid;
    grid-template-columns: repeat(4, auto);
    height: auto;
    gap: 10px;
    padding: 0;
}

.mainContentPostArticleItem {
    text-decoration: none;
    list-style-type: none;
}

.mainContentPostArticleItemLink {
    font-size: 18px;
    font-weight: bold;
}

.mainContentPostArticleItemPreview {
    margin: 0;
    font-size: 14px;
}

.mainContentSidebarRelatedList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainContentSidebarRelatedTitle {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0;
}

.mainContentSidebarRelatedItem {
    font-size: 16px;
    margin: 5px 0;
}

.mainContentSidebarOtherTitle {
    font-size: 18px;
    margin: 20px 0 10px 0;
    padding: 0;
}

.mainContentSidebarOtherItem {
    font-size: 16px;
}

/* Footer */
.footerContent {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 10px;
    padding: 10px;
}

.footerContentEventTitle,
.footerContentContactTitle,
.footerContentReferensiTitle {
    font-size: 18px;    
    margin: 0;
}

.footerContentEventDescription {
    font-size: 16px;
    margin: 18px 0 0 0;
}

.footerContentEventLink,
.footerContentContactListItem,
.footerContentReferensiListItem,
.footerContentReferensiListItemLink {
    font-size: 16px;
}

.footerContentContactList,
.footerContentReferensiList {
    list-style: none;
    padding: 0;
}

.footerCopyright {
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
}

.footerBackToTop {
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    position: fixed;
    right: 20px;
    bottom: 20px;
}


@media screen and (max-width: 1200px) {
    .header {
        text-align: center;
    }

    .mainContent {
        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }

    .mainContentPostArticleList {
        grid-template-columns: repeat(3, auto);
    }

    .mainContentSidebar {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .mainContentSidebarOtherTitle {
        margin: 0 0 10px 0;
    }

}

@media screen and (max-width: 768px) {
    .mainContentPostArticleList {
        grid-template-columns: repeat(2, auto);
    }

    .mainContentSidebar {
        grid-template-columns: repeat(2, 50%);
    }

    .footerContent {
        grid-template-columns: repeat(2, 50%);
    }

}

@media screen and (max-width: 320px) {
    .mainContentPostArticleList {
        grid-template-columns: repeat(1, auto);
    }

    .mainContentSidebar {
        grid-template-columns: repeat(1, auto);
        min-width: 0;
    }

    .mainContentSidebarOther {
        margin: 20px 0 10px 0;
    }

    .footerContent {
        grid-template-columns: repeat(1, auto);
    }
}